<div class="offer__card">
	<div class="offer__card-text">
		<h2 class="offer__title">
			{{offer.title}}
		</h2>
		<p class="offer__description">
			{{formateDescription(offer.description)}}
		</p>
		<ul class="offer__benefits">
			<app-tag *ngFor="let benefit of offer.benefits" 
				[title]="benefit" 
				[isClose]="false"
				[variant]="'dark'"
				></app-tag>
		</ul>
		<p class="offer__company-date">{{offer.company.date}}</p>
	</div>
	<div class="offer__company">
		<img [src]="offer.company.logo" alt="company logo" class="offer__company-logo">
		<h4 class="offer__company-title">{{offer.company.name}}</h4>
	</div>
</div>