<section class="menu">
	<div class="menu__content">
		<nav class="menu__nav">
			<ul class="menu__list">
				<li class="menu__link">
					<mat-icon>home</mat-icon>
					<a href="">Home</a>
				</li>
				<li class="menu__link">
					<mat-icon>location_city</mat-icon>
					<a href="">Company</a>
				</li>
				<li class="menu__link">
					<mat-icon>mood</mat-icon>
					<a href="">Lorem</a>
				</li>
				<li class="menu__link">
					<mat-icon>mood</mat-icon>
					<a href="">Lorem</a>
				</li>
				<li class="menu__link">
					<mat-icon>mood</mat-icon>
					<a href="">Lorem</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
