<header class="header">
	<div class="header__content container">
		<div class="header__row">
			<div class="header__logo">
				ISearch
			</div>
			<nav class="header__nav">
				<ul class="header__list">
					<li class="header__link">Home</li>
					<li class="header__link">Suggestions</li>
					<li class="header__link">Payment</li>
					<li class="header__link">FAQ</li>
				</ul>
			</nav>
			<div class="header__icon">
				<i class="bi bi-person-fill"></i>
				<i class="bi bi-moon-stars-fill"></i>
			</div>
		</div>
	</div>
</header>
